<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div,span{
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <form th:action="@{/exbbs/post}" method="post">
		名前：
		<input type="text" name="name">
		<br>
		記事：
		<br>
		<textarea name="content" rows="4" cols="40"></textarea>
		<br>
		<button>記事投稿！</button>
	</form>
	<hr>
	<div th:each="user:${articleList}">
		投稿者名：<span th:text="${user.name}"></span>
		<br>
        投稿内容：<br>
		<span th:text="${user.content}"></span>
        <br>

        <div th:each="comment : ${user.commentList}"><br>
        コメント者名：<span th:text="${comment.name}"></span><br>
        コメント内容：<br>
        <span th:text="${comment.content}"></span>
        </div>
        
        <form th:action="@{/exbbs/comment}" method="post">
        <!--ここで投稿のIDを値として渡しておくことで、formに入力値として入る。-->
        <input type="hidden" name="articleId" th:value="${user.id}">
		名前：<br>
		<input type="text" name="name">
		<br>
		記事：
		<br>
		<textarea name="content" rows="4" cols="40"></textarea>
		<br>
		<button>コメント！</button>
	    </form>
	<hr>
	</div>
</body>
</html>
